body{
    font-family: 'Lora', serif;
    margin: 40px;
}
h1{
    font-size: 60px;
}
.color{
    color: red;
}
section{
    display: flex;
    margin-bottom: 120px;

} 
.half-width{
    width:60%;
 

}
.half-width img{
    width:80%
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color:blue;
    font-weight: 400 ;
    border-radius: 20 px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/me.png);
    background-repeat: no-repeat;
    background-position: right;
}